/* html {
	
} */

body {
	/* TODO: center text in body, add padding around screen. have a grayscale background */
	padding: 10px;
	/* display: grid; */
	text-align: center;
	background-color: rgb(39, 44, 80);
	color: rgb(194, 194, 194);
	/* grid-auto-columns: 30% 50% 20%; */
}
section {
	/* TODO: use this to grid the 3 elementss (converter, main, prev) */
	display: grid;
	grid-template-columns: 1fr 2.5fr 1fr;
	justify-content: center;
	grid-gap: 7px;
	padding: 5px;
}

div.converter {
	font-size: small;
	border: 1px solid black;
	left: 50%;
	top: 40%;
	padding: 5px;
}
header {
	background-color: inherit;
	width: 50%;
	grid-template-columns: 1fr;
	color: inherit;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto; /*TODO: center header */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	/* margin: 10px; */
}
.hidden {
	text-decoration-color: grey;
	visibility: hidden;
}
div {
	/* border: 2px solid blue; */
	/* grid-gap: 5px; */
	border-radius: 1px;
	border: 1px solid black;
	background-color: rgb(40, 40, 40);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

aside.upcoming-weather {
	display: grid;
	background-color: rgb(39, 44, 80);
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

aside.weather-history {
	/* background-color: darkcyan; */
	/* border: 2px solid red; */
	/* background-color: aliceblue; */
	color: inherit;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 5px;
	border: 1px solid black;
}
article.current-weather {
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgb(39, 44, 80);
}
a:hover {
	text-shadow: crimson;
}
a:visited {
	color: rgb(162, 175, 139);
}
a:link {
	color: darkgreen;
}
a:active {
	color: red;
}
.weather-history h4 {
	text-decoration: rgb(255, 255, 255);
}

input.button {
	border-radius: 2px;
	border: none;
	font-size: 16px;
	background-color: inherit;
	color: inherit;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
input.button:hover {
	background-color: red;
	/* color: white; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main {
	padding: 10px;
	margin: 10px;
}

article.current-weather {
	padding: 10px;
	border: 1px solid black;
}
main p {
	/* text-decoration: underline; */
	text-shadow: 2px 2px 5px black;
}
main h4,
main h2 {
	text-shadow: 2px 2px 5px red;
}

img {
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

input#temp-to-convert {
	background-color: inherit;
	border-radius: 7px;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input.search-bar {
	background-color: inherit;
	border-radius: 7px;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
