.header {
    background-color: aquamarine;
    grid-area: header;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, var(lightblue), var(aqua));
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header header"
        "aside main previous";
}

.tempConversion {
    grid-area: aside;
    background-color: pink;
}

.main {
    background-color: palegoldenrod;
    grid-area: main;
}

.previous {
    background-color: lightseagreen;
    text-transform: capitalize;
    grid-area: previous;
}

.location-weather {
    text-transform: capitalize;
}