    .header{
        background-color: dodgerblue;
        color: snow;
        text-align: center;
 
        grid-area: header;
        padding-bottom: 5%;
        padding: left 0;
    }
    
    section.main {
        background-color: lightcyan;
        grid-area: main;
        padding: 10px;
        margin-left: 10px;
    }

  

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        font-size: smaller ;
        text-align: center  ;

    }
    
    .previous {
        background-color: lightblue;
        grid-area: previous;
    }
    
    .aside {
        background-color: lightblue;
        grid-area: aside;
    }
    
    body {
        background-color: lightblue;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        
        grid-template-areas: 
        "header header header"
        "aside main previous"
        "convert main ." 
    }

    .tempConversionWidget {
        display: none;
    }
        