#page-header {
    text-align: center;
    border: 2px solid black;
    background-color: teal;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.display {
    display: grid;
    grid-template-areas: 
        "display display display history"
        "three-days-weather three-days-weather three-days-weather history";
    grid-gap: 30px;
    /* max-width: 800px; */
    width: 85%;
    margin: 20px;
    text-align: center;

}

#display-section {
    grid-area: display;
    text-align: center;
    border: 1px solid teal;
    width: 900px;
    padding: 30px;
    background-color: rgb(230, 227, 227);
}

#display-section div {
    margin: 10px; 
}

#history-section {
    grid-area: history;
    /* background-color: green; */
}

#three-days-weather {
    grid-area: three-days-weather;
    display: grid;
    /* grid-template-columns: repeat(3, 33%); */
    grid-template-columns: repeat(3, 1fr);
}

#three-days-weather ul li{
    list-style: none;
    padding: 5px;
}

#three-days-weather div {
    text-align: center;
}
