@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;700;800&display=swap');

/*
 *
 ************************
 ===> VARIABLE DEFINITIONS <===
 ************************
 *
 */
:root {
    --primary: #0076c6;
    --secondary: #333333;
    --error: #f4a261;
    --success: #009070;
    --btnLocation: #006d77;
    --light: #F3F3F3;
  }
/*
 *
 ************************
 ===> GENERAL STYLES <===
 ************************
 *
 */
html,
body {
    height: 100%;margin: 0;padding: 0;background-color: #FFF;font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
/*
 *
 ************************
 ===> HEADER <===
 ************************
 *
 */
header {
    padding: 2rem 0;display: grid;grid-template-columns: 1fr 2fr 1fr;grid-column-start: 2; background-color: #2a9d8f;border-bottom: 3px solid #4f7d5d;text-align: center;
}
header h1 {
    margin: 0rem 0;font-size: 3rem;font-weight: 800;text-shadow: 2px 2px 4px #006d77; color: #95d5b2;
}
header form {
    width: auto; padding: 0 0rem; margin: auto;
}
header form label {
    font-size: 1.2rem;line-height: 2.4rem;font-weight: 600;color: #FFF;
}
header form .form-control {
    margin: 1rem 0;display: flex;
}
header form .form-control::before {
    content: "\f002";margin: 12px;font-size: 2rem;line-height: 2.5rem;color: var(--btnLocation);
    position: absolute;display: block;z-index: 1000;
}
header form input[type='text'] {
    width: 100%;padding: 1rem 1rem 1rem 4rem; margin: 0;font-size: 1.2rem;font-weight: 400;/*background-color: #e9ecef;*/color: #006d77;
    border: 0px solid rgba(82, 183, 136, 0.5);border-radius: 15px 0 0 15px; box-sizing: border-box;position: relative;box-shadow: 0px 0px 0px 10px rgba(82, 183, 136, 0.5);
}
header form input[type='text']::before {
    
}
header form input[type='submit'] {
    padding: 1.2rem 2.2rem;margin: 0;display: block;border-radius: 0 15px 15px 0;background: var(--btnLocation);color: #fbf5f3;cursor: pointer;
    font-size: 1.2rem;font-weight: 800;border: 0px solid rgba(82, 183, 136, 0.5);border-left: none;box-shadow: 0px 0px 0px 10px rgba(82, 183, 136, 0.5);
}
header form .button:hover {
  background: #006d77;
}
/*
 *
 ************************
 ===> MAIN <===
 ************************
 *
 */
#container {
    width: 80%;margin: 25px auto;min-height: calc(100vh - 70px);display: grid;grid-template-columns: 1fr 2fr 1fr;gap: 10px;
}
/* Current forecst data */
#container .current-forecast {
    padding: 1rem;border: 1px solid #bee3db;text-align: center;background-color: #a8dadc;border-radius: 1px;box-shadow: 0px 1px 4px #2a9d8f;
}
#container .current-forecast img {
    border: 10px solid #bee3db;box-shadow: 0px 1px 6px #2a9d8f;
}
#container .current-forecast h2 {
    font-size: 1.8rem; font-weight: 800;color: #006d77;
}
#container .current-forecast p.init-message {
    padding: 1rem; font-size: 1.2rem;font-weight: 500;text-align: center;color: #006d77
}
#container .current-forecast p.item {
    padding: 10px;margin: 0;display: grid;grid-template-columns: 1fr 1fr;color: #006d77;
}
#container .current-forecast p:nth-child(even) {background-color: #e0fbfc;}
#container .current-forecast p span.data-header {
    font-size: 1.4rem;line-height: 2.4;font-weight: 400;text-align: left;
}
#container .current-forecast p span.data-header i {
    float: right;
}
#container .current-forecast p span.data-value {
    font-size: 1.4rem;font-weight: 600;text-align: right;
}
#container .current-forecast p span small {
    font-size: 0.8rem;line-height: 2rem;
}
#container .current-forecast p:nth-child(6) span.data-value,
#container .current-forecast p:nth-child(7) span.data-value,
#container .current-forecast p:nth-child(8) span.data-value,
#container .current-forecast p:nth-child(9) span.data-value,
#container .current-forecast p:nth-child(10) span.data-value {
    font-size: 2.4rem;line-height: 2.4rem;
}
#container .current-forecast div {
    margin: 1rem auto;
}
/* Daily forecast data */
#container .daily-forecast {
    margin: 2rem 0;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 1; gap: 4px;
}
#container .daily-forecast div {
    padding: 0rem;
    background-color: #00afb9; 
}
#container .daily-forecast h4 {
    font-size: 1.2rem;line-height: 2.8rem;font-weight: 800;color: var(--light)/*#006d77*/;text-align: center;
}
#container .daily-forecast table {
    width: 100%;
}
#container .daily-forecast td {
    padding: 4px;font-size: 1.0rem;line-height: 1.8rem;font-weight: 400;color: #006d77;
}
#container .daily-forecast tr:nth-child(odd) {
    background-color: #b7e4c7;
}
#container .daily-forecast tr:nth-child(even) td, #container .daily-forecast tr:nth-child(even) td span {
    color: var(--light)       
}
#container .daily-forecast td span {
    font-size: 1.8rem;line-height: 1.8rem;font-weight: 600;color: #006d77;
}
/*
 *
 ************************
 ===> ASIDES <===
 ************************
 *
 */
/* Aside: Widget temp converter */
#container .widget-temp-convert {
    box-sizing: border-box;
}
#container .widget-temp-convert form {
    padding: 2rem;background-color: #8ecae6;/*#00b4d8;*/box-sizing: border-box;
}
#container .widget-temp-convert form label {
    font-size: 1.2rem;line-height: 2.4rem;font-weight: 600;color: #FFF;text-shadow: 0px 0px 2px #006d77;
}
#container .widget-temp-convert form label.heading {
    margin: 0;display: block;font-size: 1.4rem;line-height: 2.8rem;font-weight: 800;color: rgba(0, 145, 174, 0.6);text-shadow: none;
}
#container .widget-temp-convert form input[type='number'] {
    width:100%;padding: 0.5rem; margin: 1rem 0;font-family: 'Open Sans', sans-serif;font-size: 1.8rem;
    font-weight: 600;background-color: #e9ecef;color: #006d77; border: none;box-sizing: border-box;box-shadow: 0px 0px 0px 10px rgba(0, 145, 174, 0.5);
}
#container .widget-temp-convert form .form-control {
    padding: 0.5rem 0;display: grid;grid-template-columns: 1fr 1fr;
}
#container .widget-temp-convert form input[type='radio'] {
    width: 1.8rem;height: 1.8rem;margin: 5px;
    appearance: none;font: inherit;
    background-color: #fff;color: #006d77;
    border: 0.15em solid currentColor;border-radius: 50%;
    transform: translateY(-0.075em);display: grid;place-content: center;
}
#container .widget-temp-convert form input[type='radio']::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);background-color: #2a9d8f;
}
#container .widget-temp-convert input[type="radio"]:checked::before {
    transform: scale(1);
  }
#container .widget-temp-convert form input[type='submit'] {
    width: 60%;padding: 1rem 2rem;margin: 1rem auto;display: block;border-radius: 5px;background: #006d77;color: #fbf5f3;cursor: pointer;
    font-size: 1.2rem; font-weight: 800;
}
#container .widget-temp-convert form .result {
    font-size: 2rem;line-height: 4rem;font-weight: 800;color: var(--light)
}
#container .widget-temp-convert form .result span {
    font-size: 4rem;line-height: 4rem;
}
/* Aside: Widget prev searches */
#container aside.widget-prev-searches {
    padding: 1rem;
}
#container aside.widget-prev-searches h4 {
    font-size: 1.4rem;line-height: 2.0rem;font-weight: 800;color: #006d77;
}
#container aside.widget-prev-searches p {
    padding: 1rem;display: inline-block;border-radius: 3px; font-size: 1.0rem;line-height: 1.0rem;font-weight: 500;background-color: #95d5b2;color: #FFF;
}
#container aside.widget-prev-searches ul {
    padding: 0rem;list-style: none;
}
#container aside.widget-prev-searches ul li {
    margin: 5px 0;font-size: 1.8rem;line-height: 1.8rem;font-weight: 600;color: #006d77;
}
#container aside.widget-prev-searches ul li a {
    font-size: 1.2rem;line-height: 1.8rem;font-weight: 600;color: #2ec4b6;
}
/*
 *
 ************************
 ===> FOOTER <===
 ************************
 *
 */
footer {
	/*height: 50px;*/margin: 20px 0;padding: 1rem; background-color: #a8dadc;
}
footer section {
	text-align: center;
}
footer section .fa-heart {
	margin: 0 1px;font-size: 2rem;color: #fe4a49;
}
footer section .fa-js {
	margin: 0 1px;font-size: 2rem;color: #1f8d9b;
}
/*
 *
 ************************
 ===> HELPERS <===
 ************************
 *
 */
.hidden {
    display: none !important;
}
/*
 *
 ************************
 ===> ERROR <===
 ************************
 *
 */
.error {
    padding: 2rem 4rem;margin: 2rem auto;display: table;font-size: 1rem;font-weight: 600;background: var(--error);color: #fefefe;border-radius: 2px;
}
/*
 *
 ************************
 ===> MEDIA QUERIES <===
 ************************
 *
 */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* ===> MAIN <=== */
    header {
        padding: 0.5rem 0;background-color: #f4a261;display: grid;grid-template-columns: 1fr 1fr;
    }
    #container {width: 100%;margin: 5px auto;display: grid;grid-template-columns: 1fr 1fr;gap: 0px;}
    #container .daily-forecast {margin: 2rem 0;display: grid;grid-template-columns: 1fr 1fr;gap: 0px;}
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}
    
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
   
}
@media only screen and (min-width: 360px) and (max-width: 767px) { 
    /* CSS */
    header {
        width: 100%;padding: 0.5rem 0;display: grid;grid-template-columns: 1fr;
    }
    #container {width: 100%;margin: 5px auto;display: grid;grid-template-columns: 1fr;gap: 0px;}
    #container .daily-forecast {margin: 2rem 0;display: grid;grid-template-columns: 1fr;gap: 0px;}
}


/* general reset/setup styling for icons - needed on all */
.icon::before {
    /* display: none;   */
    /* See https://fontawesome.com/docs/web/add-icons/pseudo-elements#css-pseudo-elements-with-our-svg-js-framework */
  }
  .icon-solid::before {
    font: var(--fa-font-solid);
  }