.header{
    background-color: aquamarine;
    grid-area: header;
}

.main {
    background-color: deeppink;
    grid-area: main;
}

.previous {
    background-color: crimson;
    grid-area: previous;
}

.aside {
    background-color: bisque;
    grid-area: aside;
}

body {
    background-color: lawngreen;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header header"
    "aside main previous";
}

.city {
    font-family: cursive;
}

