
body {
    
    max-width: 1300 px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3;
    margin: 0 auto;
}


header {
    padding-bottom: 25px;
    grid-column-start: span 3;
    background-color: teal;
    border: 2px solid black;
    color: white;
    text-align: center;
    font-family: Trebuchet;
}

main {
    display:grid;
    grid-column: 2;
    text-align: center;
    background-color: rgb(232, 227, 227);
    border: 2px solid teal;
    font-family: Trebuchet;
}


h4 {
    display: grid;
    text-align: left;
    font-family: Trebuchet;
}

span {
    font-weight: bold;
}