
body{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header header header"
    "aside main previous"
    ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightslategray;

}

.header {
    grid-area: header;
    padding: 25px;
    border: solid rgb(60, 60, 60);
    color: white;
    text-align: center;
    box-shadow: 0 20px 20px  rgb(0, 0, 0, .3);
    background-color: teal;
}

.main{
    grid-area: main;
    margin: 20px 3px;
    text-align: center;
    background: linear-gradient(
        to right,
        rgb(231, 187, 196),
        rgb(160, 185, 230)
        
    );
    box-shadow: 0 20px 20px  rgb(0, 0, 0, .4);
}

.previous {
    grid-area: previous;
    padding: 0px 15px;
    text-align: center;
    background-color: rgb(231, 187, 196);
    margin: 20px 0px;
    box-shadow: 0 20px 20px  rgb(0, 0, 0, .4);
    height:fit-content;
}

.aside {
    grid-area: aside;
    text-align: center;
    padding: 20px 15px 5px;
    height: fit-content;
    background-color: rgb(160, 185, 230);
    margin: 20px 0px;
    box-shadow: 0 20px 20px  rgb(0, 0, 0, .4);
}

article {
    
    border: solid 1px teal;
    padding: 20px;
}

.upcoming {
    display: grid;
    grid-template-columns: auto auto auto;
}

/* because my links don't look like links ??? */
a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: red;
}

div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20px ;
    border: solid 1px rgb(193, 140, 140)
}

img {
    width: 225px;
    height: 225px;
    z-index: 1;
    box-shadow: 0 20px 20px rgb(0, 0, 0, .2), 0px 0px 50px rgb(0, 0, 0, .2);
    border-radius: 40%;
}

