.header {
    background-color: darkslategrey;
    grid-area: header;
}

.main {
    background-color: rgb(54, 146, 106);
    text-align: center;
    grid-area: main;
}

.previous {
    background-color: rgb(139, 55, 13);
    display: grid;
    grid-area: previous;
    text-decoration: underline;
}

.conversion {
    background-color: rgb(194, 118, 18);
    display: grid;
    grid-area: aside;
}
.weatherForecast {
    background-color: lightblue;
    grid-template-columns: "auto auto auto";
    grid-template-rows: "auto auto auto";
    grid-template-areas: "header header header"

}
body {
    background-color: whitesmoke;
    display: grid;
    text-align: center;
    grid-template-columns: "auto auto auto";
    grid-template-rows: "auto auto auto";
    grid-template-areas: "header header header" "aside main previous";















                                          
/* .weatherForecast {
    display: grid;
    border: 3px solid rgb(17, 61, 77);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: ;
    border: 1px solid rgb(64, 151, 182);
    text-align: center;
    color: white;
    color: rgb(184, 30, 30);
} */