
.header{
    background-color: green;
    grid-area: header;
    border: ;
}

.main {
    background-color: rgb(225, 225, 68);
    grid-area: main;
}

.previous {
    background-color: bisque;
    grid-area: previous;
}

.aside {
    background-color: bisque;
    grid-area: aside;
}

body {
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header header"
    "aside main previous";
}